</head>
<body>
  <nav>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights/index" <%- title === 'Flights' ? 'class="active"' : '' %>
    >
      FLIGHTS
    </a>
    <a 
      href="/meals/new" <%- title === 'Add Meal' ? 'class="active"' : '' %>
    >
      ADD MEAL
    </a>
  </nav>